{% extends "base.twig" %}


{% block main %}
    <div class="container mt-4 mb-3 p-5 w-50 border border-primary rounded-5">
        {% if erreur_cours %}
            <p class="fs-2 text-center text-danger">{{ erreur_cours }}</p>
        {% endif %}

        {% if erreur_instruments %}
            <p class="fs-2 text-center text-danger">{{ erreur_instruments }}</p>
        {% endif %}

        {% if erreur_compte %}
            <p class="alert alert-danger">{{ erreur_compte }}</p>
        {% endif %}

        {% if erreurs %}
            <div class="alert alert-danger">
                <ul class="mb-0">
                    {% for erreur in erreurs %}
                    <li>{{ erreur }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}

        <h1 class="text-center pb-4 font_gluten pt-3">Vous revoilà ! </h1>
        <section class="container">
        <form class="w-75 mx-auto" action="index.php?page=authentification&action=check_connexion" method="post">
            <div class="mb-3">
            <label for="mail" class="form-label">Adresse Mail :</label>
            <input type="mail" name="mail" class="form-control">
            </div>
            <div class="mb-3">
            <label for="mdp" class="form-label">Mot de Passe</label>
            <input type="password" name="mot_de_passe" class="form-control">
            </div>
            <button type="submit" class="btn btn-primary">Se connecter</button>
        </form>
        </section>
    </div>

    <section class="container text-center">
        <p>Vous n'avez pas encore de compte ?</p>
        <p><a href="index.php?page=authentification&action=inscription">Cliquez ici pour vous inscrire !</a></p>
    </section>


{% endblock %}



