<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SAE301</title>
    <!--CSS compilé pour bootstrap-->
    <link rel="stylesheet" href="main.css">
    <!--Icones Bootstrap-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <!--Penser à faire npm run dev si je créer un nouveau fichier pour qu'il le prenne en compte poru al compilation-->
</head>

<body>

<header class="bg-primary py-2">
    <nav class="navbar navbar-expand-lg container">
    <div class="container-fluid">
        <a href="index.php">
        <img src="../public/img/logo.png" class="logo_size" alt="logo - freepik">
        </a>
        <a class="navbar-brand text-bg-primary ps-3 font_gluten fs-4" href="index.php">Musicoco</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"   aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
            <a class="nav-link text-bg-primary" aria-current="page" href="index.php?page=cours&action=read">Cours</a>
            </li>
            <li class="nav-item">
            <a class="nav-link text-bg-primary" href="#">Blog</a>
            </li>
            <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-bg-primary" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Produits
            </a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item bg-primary text-bg-primary" href="#">Instruments</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item text-bg-primary" href="#">Partitions</a></li>
            </ul>
            </li>
        </ul>
        <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"/>
            <button class="btn btn-outline-light text-bg-primary" type="submit">Search</button>
        </form>
        <ul class="navbar-nav mb-lg-0 mx-2">
            {% if session.pseudo is not defined %}
                <li class="nav-item">
                <a class="nav-link text-bg-primary" href='index.php?page=authentification&action=check_connexion'>Se connecter</a>
                </li>
            {% endif %}
            {% if session.pseudo is defined %}
                <li class="nav-item">
                <a class="nav-link text-bg-primary" href='index.php?page=authentification&action=deconnexion'>Se déconnecter</a>
                </li>
            {% endif %}
        </ul>
        </div>
    </div>
    </nav>

</header>

<main>
{% block main %}

{% endblock %}
</main>


<!-- Scripts -->
    <script type="module" src="/main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>

</body>
</html>
