{% extends "base.twig" %}

{% block main %}


<section class="container">
    <form class="w-75 mx-auto" action="index.php?page=cours&action={% if cours %}update{% else %}create{% endif %}" method="post">

        {% if cours.id_cours is defined %}
        <input type="hidden" name="id_cours" value={{ cours.id_cours }}>
        {% endif %}

    <div class="mb-3">
        <label for="titre_cours" class="form-label">Titre du cours :</label>
        <input type="text" name="titre_cours" value="{{ cours.titre_cours }}" class="form-control">
    </div>
    <div class="mb-3">
        <label for="desc_cours" class="form-label">Description :</label>
        <input type="text-area" name="desc_cours" value="{{ cours.desc_cours }}" class="form-control">
    </div>
    <div class="mb-3">
        <label for="prix" class="form-label">Prix :</label>
        <input type="number" name="prix_cours" value="{{ cours.prix_cours }}" class="form-control">
    </div>
    <div class="mb-3">
        <label for="pseudo" class="form-label">Type  :</label>
        <select class="form-select" name="type_cours" aria-label="Default select example">
            <option value="individuel" {% if cours.type_cours == 'individuel' %} selected {% endif %}>Individuel</option>
            <option value="collectif"  {% if cours.type_cours == 'collectif '%} selected {% endif %}>Collectif</option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary mt-3">{% if cours.id_cours is defined %}Modifier{% else %}Créer{% endif %}</button>
    </form>
</section>


{% endblock %}
